<!doctype html>
<html lang="en" ng-app="LunchChecker">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
<body>
    <div  id="container">
        <h1>Lunch Checker</h1>
            <div ng-controller="LunchCheckerController">
                <h2>Lunch List</h2>
                    <div>
                        <input type="text" ng-model="item" placeholder="Enter your lunch items">
                        <p>Commas are also consider as an item here.</p>
                        
                    </div>
                    <br>

                    <div>
                        <button ng-click="check()">Check If Too Much</button>
                    </div>
                    <br>
                    <h3>{{item}}</h3>
                    <h3>{{message}}</h3>
                
            </div>
    </div>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
